.profile-bg-dark {
  background-color: #12002b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  color: white;
}

.accounts {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit-button {
  font-weight: bold;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  margin-bottom: 2rem;
}

.edit-button {
  padding: 10px;
}

.cancel-button,
.save-button {
  width: 80px;
  padding: 5px 10px;
  border-color: #00bc77;
  color: #00bc77;
  font-weight: 600;
}

.edit-form {
  margin: 40px;
  margin-top: 0px;
}

.divInput {
  display: flex;
  gap: 20px;
}

.divInput input {
  height: 26px;
}

.firstNameDiv,
.lastNameDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.firstNameDiv {
  align-items: flex-end;
}
