.profile-bg-dark {
  background-color: #12002b;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  color: white;
}

.accounts {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.edit-button,
.cancel-button,
.save-button {
  font-weight: bold;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  padding: 10px;
  margin-bottom: 2rem;
}

.edit-form{
  margin: 40px;
  margin-top: 0px;
}

.firstNameDiv, .lastNameDiv{
  margin-bottom: 10px;
  color: white;
}

.firstNameDiv label, 
.lastNameDiv label{
  margin-right: 10px;
}

.save-button {
  margin-right: 10px;
}