header {
  background-color: #fff;
  padding: 20px 40px;
  color: black;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

/* .main-nav a.router-link-exact-active {
  color: #42b983;
} */

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

.logo h1 {
  font-size: 1.5em;
  letter-spacing: 0.2px;
}

.first-word-logo {
  color: #42b983;
}

.second-word-logo {
  color: #055f3c;
}
.sign-in,
.user-button {
  text-decoration: none;
  margin-right: 0.5rem;
}

.sign-in:hover,
.user-button:hover {
  text-decoration: underline;
}

.sign-in span {
  color: #2c3e50;
}

.icon {
  color: #2c3e50;
  font-size: 20px;
  padding-right: 5px;
}

.icon:visited {
  color: #2c3e50;
}

.header-button {
  background: none;
  border: none;
  color: #2c3e50;
  text-decoration: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
}

.header-button a {
  text-decoration: none;
}

.header-button:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  header {
    padding: 5px 20px;
  }
  .main-nav {
    padding: 0;
  }
}
