header {
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  padding: 20px 40px;
  color: black;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
}

.main-nav a {
  font-weight: bold;
  color: #2c3e50;
}

.main-nav a.router-link-exact-active {
  color: #42b983;
}

.main-nav-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}

.main-nav-logo h1 {
  font-size: 1.5em;
  letter-spacing: 0.2px;
}

.first-word-logo {
  color: #42b983;
}

.second-word-logo {
  color: #055f3c;
}
.main-nav-item {
  text-decoration: none;
  margin-right: 0.5rem;
}

.main-nav-item:hover {
  text-decoration: underline;
}

.main-nav-item span {
  color: #2c3e50;
}

.icon {
  color: #2c3e50;
  font-size: 20px;
  padding-right: 5px;
}

.icon:visited {
  color: #2c3e50;
}

@media (max-width: 768px) {
  header {
    padding: 5px 20px;
  }
  .main-nav {
    padding: 0;
  }
}
